<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/mobileNavbar')%>



<main class="main">
    <div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="page-content mt-5">
        <div class="checkout">
            <div class="container">
                

              <div class="row" style="margin-top: 5em;">
                <div class="col-lg-9">
                        <form action="/addressSubmit" method="POST" onsubmit="return validateForm()">
                                <select id="addressSelect" class="selectpicker" style="max-width: 200px; min-width: 200px;"   onchange="updateSelectedAddress()">
                                    <% if (user && user.Addresses && user.Addresses.length > 0) { %>
                                        <% user.Addresses.forEach(Address => { %>

                                        <option >

                                          <%= ` ${Address.name},  ${Address.phone},
                                           ${Address.address},
                                           ${Address.pincode}, 
                                           ${Address.state} ,
                                          ${Address.city},
                                           ${Address.email}` %>
                                        </option>
                                      <% }); %>
                                    <% } else { %>
                                      
                                    <% } %>
                                  </select> <br>
                                   <p id="addr" class="text-danger"></p>
                            
                            <div id="selectedAddress" style="max-width: 400px;"></div>

                            <div class="modal fade" id="modalAddAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header text-center">
                                      <h4 class="modal-title w-100 font-weight-bold">Enter the details</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body mx-3">
                                      <div class="md-form mb-5">
                                        <input type="text" id="formname" class="form-control validate" name="name">
                                        <label data-error="wrong" data-success="right" for="formname">Name</label>
                                      </div>
        
                                      <div class="md-form mb-5">
                                        <input type="text" id="formphone" class="form-control validate" name="phone">
                                        <label data-error="wrong" data-success="right" for="formphone">Phone</label>
                                      </div>
        
                                      <div class="md-form mb-5">
                                        <input type="text" id="formemail" class="form-control validate" name="email">
                                        <label data-error="wrong" data-success="right" for="formemail">Email</label>
                                      </div>
        
                                      <div class="md-form mb-5">
                                        <input type="text" id="formaddress" class="form-control validate" name="address">
                                        <label data-error="wrong" data-success="right" for="formaddress">Address</label>
                                      </div>
                                      <div class="md-form mb-5">
                                        <input type="text" id="formpincode" class="form-control validate" name="pincode">
                                        <label data-error="wrong" data-success="right" for="formpincode">Pincode</label>
                                      </div>
        
                                      <div class="md-form mb-5">
                                        <input type="text" id="formstate" class="form-control validate" name="state">
                                        <label data-error="wrong" data-success="right" for="formstate">State</label>
                                      </div>
        
                                      <div class="md-form mb-5">
                                        <input type="text" id="formcity" class="form-control validate" name="city">
                                        <label data-error="wrong" data-success="right" for="formcity">City</label>
                                      </div>
        
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                  </div>
                                </div>
                            </div>

                        </form>
                        <!-- Your select element -->

                          <div id="selectedAddress"></div>                


                        <div>
                            <a href="" class="btn btn-primary btn-rounded mb-4 mt-3" data-toggle="modal" data-target="#modalAddAddress" >Add Address</a>
                            
                        </div>
                        <p id="address-success" style="display: none;">Address updated successfully</p>

                        <% if (user && user.Addresses && user.Addresses.length > 0) { %>
                            <% user.Addresses.forEach(Address => { %>

                        <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit Address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <div class="modal-body">
                                        <form  id="editAddressForm">
                                            <div class="form-group">
                                                <label for="editName">Name</label>
                                                <input type="text" class="form-control" id="editname" value="<%=Address.name%>" name="name" required>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="editPhone">Phone</label>
                                                <input type="text" class="form-control" id="editphone" value="<%=Address.phone%>" name="phone" required>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="editEmail">Email</label>
                                                <input type="text" class="form-control" id="editemail" value="<%=Address.email%>" name="email" required>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="editAddress">Address</label>
                                                <input type="text" class="form-control" id="editaddress" value="<%=Address.address%>" name="address" required>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="editPincode">Pincode</label>
                                                <input type="text" class="form-control" id="editpincode" value="<%=Address.pincode%>" name="pincode" required>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="editState">State</label>
                                                <input type="text" class="form-control" id="editstate" value="<%=Address.state%>" name="state" required>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="editCity">City</label>
                                                <input type="text" class="form-control" id="editcity" value="<%=Address.city%>" name="city" required>
                                            </div>
                                            <input type="hidden" id="editAddressId" name="addressId">
                                            <button type="submit" class="btn btn-primary" onclick="addressEdit()">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <%})%>
                        <%}%>    
                



                          <div class="checkout-discount" hidden>
                            <form id="couponForm">
                                <input type="text" class="form-control"  required id="checkout-discount-input" placeholder="Have a coupon? Click here to enter your code">
                                <label for="checkout-discount-input" class="text-truncate"></span></label>
                                <button class="btn btn-primary mt-4" type="submit">Apply</button>
                                <a class="btn btn-primary mt-4" id="cancelcoupon" onclick="cancelcoupon()" style="display: none;">Clear</a>
                            </form>
                            <p id="already" class="text-danger"></p>
                            <p id="applied" class="text-success"></p>
                        </div><!-- End .checkout-discount -->

                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% cartData.products.forEach(product => { %>
                                    <tr>
                                        <td><a href="#"><%= product.productId.Name %></a></td>
                                        <td><%= product.totalPrice %> </td>
                                    </tr>
                                    <% }); %>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>₹<%=subtotal%></td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>Free shipping</td>

                                    </tr>
                                    <tr id="display1" >
                                        <td  id="Namec"></td>
                                        <td id="success" class="text-success"></td>
                                        
                                    </tr>
                                    <tr id="display2">
                                        <td id="msg"></td>
                                        <input type="text" id="couponcode" hidden>
                                        <td id="org"></td>
                                    </tr>
                                    
                                    <tr class="summary-total">
                                        <td id="offer">Total:</td>
                                        <td >₹<span id="discount"><%=totalPrice%></span></td>
                                    </tr><!-- End .summary-total -->
                                
                                </tbody>
                                </table><!-- End .table table-summary -->
                                
                                <select name="paymentMethod" id="payment">
                                    <option value="Cash on delivery" >Cash on delivery</option>
                                    <option value="Razorpay">Razorpay</option>
                                </select>
                        

                                <button  class="btn btn-outline-primary-2 btn-order btn-block" onclick="sendSelection()">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                                
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                
                
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->








</div>

<%-include('../partials/footer')%>
<%-include('../partials/footerbar')%>


<script>  


    

	function updateSelectedAddress() {
	  let selectedOption = document.getElementById('addressSelect').value;
  
	  document.getElementById('selectedAddress').textContent = `Selected Address: ${selectedOption}`;
	}
  
	function setDefaultAddress() {
	  let defaultOption = document.querySelector('#addressSelect option:not([disabled])');
	  if (defaultOption) {
		let defaultAddress = defaultOption.textContent;
		document.getElementById('selectedAddress').textContent = `Selected Address: ${defaultAddress}`;
	  }
	}
  
	window.onload = setDefaultAddress;



    function validateForm() {
        const name = document.getElementById('formname');
        const phone = document.getElementById('formphone');
        const email = document.getElementById('formemail');
        const address = document.getElementById('formaddress'); 
        const pincode = document.getElementById('formpincode');
        const state = document.getElementById('formstate');
        const city = document.getElementById('formcity');

        resetErrorMessages();

        if (name.value = null) {
            displayErrorMessage(name, "name must have a value.");
            return false;
        }

        if (phone.value = null) {
            displayErrorMessage(phone, "phone number must have a value.");
            return false;
        }

        if (email.value = null || !isValidEmail(email.value)) {
            displayErrorMessage(email, "email must have a value and be valid.");
            return false;
        }

        if (address.value = null) {
            displayErrorMessage(address, "address must have a value.");
            return false;
        }

        if (pincode.value = null) {
            displayErrorMessage(pincode, "pincode must have a value.");
            return false;
        }

        if (state.value = null ) {
            displayErrorMessage(state, "state must have a value.");
            return false;
        }

        if (city.value = null) {
            displayErrorMessage(city, "city must have a value.");
            return false;
        }

        return true;
    }



    function isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

	function displayErrorMessage(element, message) {
        const errorMessage = document.createElement("div");
        errorMessage.className = "text-danger";
        errorMessage.innerHTML = message;
        element.parentNode.appendChild(errorMessage);
    }

    function resetErrorMessages() {
        const errorMessages = document.querySelectorAll(".text-danger");
        errorMessages.forEach(function (errorMessage) {
            errorMessage.parentNode.removeChild(errorMessage);
        });
    }





        function sendSelection() {

            let selectedValue = document.getElementById("addressSelect").value;
		    let  total=document.getElementById('discount').textContent.trim()
            total = parseFloat(total)
            if(isNaN(total)){
                console.log('invalid total value',total)
                return
            }

		    if(!selectedValue){
			    let message=document.getElementById('addr').innerHTML="Please Select the Address"
			    return
		    }
            fetch('/placeOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    selectedValue: selectedValue,
				    total:total,
                }),
            })
        .then(response => response.json())
            .then(data => {
                console.log('Backend response:', data);

                if (data.success) {
                    Swal.fire({
                        title: 'Order Placed Successfully!',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2000 

                    }).then(()=>{
                        window.location.href=`/vieworder/${data.order._id}`
                    })
                }
            })
    }       
    
    

</script>