<%-include('../partials/adminHeader')%>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="/admin/assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/admin/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/admin/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Admin</h5>
                  
                </div>
              </div>
            </div>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/allusers" >
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">All users</span>
              
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/allproducts">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">All Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/category">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Category</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/allorders">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">All orders</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">All orders</h4>
                  
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Product</th>
                          <th>Order placed on</th>
                          <th>Customer</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                       
                        <% let index = 0; %>
                        <% orders.forEach((order) => { %>
                          <% if (order.products && order.products.length > 0) { %>
                              <% order.products.forEach((product) => { %>
                                
                        <tr>
                          <td><%=++index%></td>
                          <td><%=product.products.Name%></td>
                          <% const formattedDate = new Date(order.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }); %>
                          <td><%= formattedDate%></td>
                          <td><%=order.userid.Name%></td>
                          <td><%=order.userid.Email%></td>
                          <td><%=product.Status%></td>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Status
                              </button>
                              <div class="dropdown-menu" href="#" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" onclick="updateStatus('shipped', '<%= order._id %>','<%= product.products._id %>')">Shipped</a>
                                <a class="dropdown-item" href="#" onclick="updateStatus('delivered', '<%= order._id %>','<%= product.products._id %>')">Delivered</a>
                                <a class="dropdown-item" href="#" onclick="updateStatus('cancelled', '<%= order._id %>','<%= product.products._id %>')">Cancelled</a>
                              </div>
                            </div>
                          </td>
                        
                          
                          <td>
                            <a href="/admin/orderDetails/<%=order._id%>/<%=product.products._id%>" class="btn btn-primary">Detail</a>
                          </td>
                          
                          
                        </tr>
                        
                        <%})%>
                        <%}%>
                        <%})%>

                        
                                              
                      </tbody>
                      

                    </table>

                    <nav aria-label="Page navigation" style="margin-left: 30px">
                      <ul class="pagination">
                          <% if (totalPages > 1) { %>
                              <% if (currentPage > 1) { %>
                                  <li class="page-item">
                                      <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>
                              <% } %>
                  
                              <% for (let i = 1; i <= totalPages; i++) { %>
                                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                  </li>
                              <% } %>
                  
                              <% if (currentPage < totalPages) { %>
                                  <li class="page-item">
                                      <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>
                              <% } %>
                          <% } %>
                      </ul>
                    </nav>                    
                    
                  </div>

                  

                </div>
                
              </div>

              
            </div>

            

          </div>

          
          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          
          <!-- partial -->
        </div>
        
        <!-- main-panel ends -->
      </div>

      
      <!-- page-body-wrapper ends -->
    </div>
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <%-include('../partials/adminFooter')%>


<script>

      

function updateStatus(status, orderId, productId) {
    fetch('/admin/updateStatus', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            status: status,
            orderId: orderId,
            productId: productId,
        })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to update status');
        }
        
        console.log('Status updated successfully');
        wiwndow.location.reload()
    })
    .catch(error => {
        console.error('Error updating status:', error);
    });
}

  



  function cancelOrder(orderId) {
    fetch(`/admin/cancelOrder/${orderId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
    if (response.ok) {              
      window.location.reload();
    } else {
      throw new Error('Failed to cancel order');
    }
    })
    .catch(error => {
      console.error('Error cancelling order:', error);
    });
  }
</script>
  