<%-include('../partials/adminHeader')%>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="/admin/assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/admin/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/admin/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Admin</h5>
                  
                </div>
              </div>
            </div>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/allusers" >
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">All users</span>
              
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/allproducts">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">All Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/category">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Category</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/allorders">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">All orders</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">All Products</h4>
                  
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>No.</th>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Price</th>
                          <th>Category</th>
                          <th>Quantity</th>
                          <th>Image</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                    <tbody>
                    <% products.forEach((product, index) => { %>
                        <tr>
                          <td><%= index + 1 %></td>
                          <td><%= product.Name %></td>
                          <td><%= product.Description %></td>
                          <td><%= product.Price %></td>
                          <td><%= product.Category.Name%></td>
                          <td><%= product.Quantity %></td>
                          
                          <td>
                            <a href="#" class="image-preview" data-src="/uploads/<%= product.Images[0] %>">
                              <img src="/uploads/<%= product.Images[0] %>" alt="">
                            </a>
                          </td>
                         
                          <td><%= product.Status %></td>
                          <td><a href="/admin/editproduct/<%=product._id%>">Edit</a></td>
                          <td>
                            <% if (product.Status === 'active') { %>
                              <a href="/admin/blockproduct/<%= product._id %>">Block</a>
                            <% } else { %>
                              <a href="/admin/unblockproduct/<%= product._id %>">Unblock</a>
                            <% } %>
                          </td>
                        </tr>
                        <% }) %>
                        
                      </tbody>
                    </table>
                  </div>

                  <div>
                    <a href="/admin/addproducts">
                      <button type="button" class="btn btn-primary btn-rounded btn-fw">Add product</button>
                    </a>  
                  </div>

                </div>
              </div>
              
              <div id="image-preview-modal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modal-image">
            </div>

              

            </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <%-include('../partials/adminFooter')%>






    